<html>
<head>

</head>
  <body onLoad="initForm(document.form)">
  <fieldset style = "width:400px;">
  <legend> 입력 </legend>

  <form action="/create_process" method="post" name = "form">


  <script language="javascript">
  <!--

   function Category(value, text) {
    this.value = value;
    this.text = text;
    this.length = 0;
   }

   function addCategory(category, value, text) {
    category[category.length] = new Category(value, text);
    category.length++;
   }

   var category = new Category();

   <%- categorys %>

   function initForm(form) {
    form.subject.length = category.length;

    for (i = 0; i < category.length; i++){
     form.subject[i].value = category[i].value;
     form.subject[i].text = category[i].text;
     form.subject.selectedIndex = 0;
     form.contents.selectedIndex = 0;
    }

    change_subject(form);
   }

   function change_subject(form) {
    var i = form.subject.selectedIndex;
    form.contents.length = category[i].length;

    for (j = 0; j < form.contents.length; j++){
     form.contents[j].value = category[i][j].value;
     form.contents[j].text = category[i][j].text;
     form.contents.selectedIndex = 0;
    }
    change_contents(form);
   }

   function change_contents(form) {
    var i = form.subject.selectedIndex
    var j = form.contents.selectedIndex;

    form.components.length = category[i][j].length;

    for (k = 0; k < form.components.length; k++){
     form.components[k].value = category[i][j][k].value;
     form.components[k].text = category[i][j][k].text;
     form.components.selectedIndex = 0;
    }
   }

   function change_compo(){
    var l = document.form.components.selectedIndex;
   }




  // -->
  </SCRIPT>

  <select name="subject" onchange="change_subject(this.form)"style="width:100px;height:40px;"></select>
  <select name="contents" onchange="change_contents(this.form)"style="width:100px;height:40px;"></select>
  <select name="components" onChange="change_compo();"style="width:100px;height:40px;"></select>
  <br>
  <div> Tel(ex: 010-1234-5678) :</div>
  <input type="tel" id="usertel" name = "tel"
  pattern="\d{3}-\d{3,4}-\d{4}">

  <div>이름 &nbsp &nbsp &nbsp 사번</div>
  <input type="text" name ="name" style =" width:60px;">
  <input type="text" name ="emp_no" style =" width:100px;">

  <br><br>
  ERROR
  <select name="re" style="width:100px;height:40px;">
    <option value="과식" selected="selected">과식</option>
    <option value="피로">피로</option>
    <option value="탈진">탈진</option>
    <option value="게임">게임</option>
  </select><br><br>
  <div><input type="submit" value="전송"> <input type="reset" value="초기화"></div>
</form>
</fieldset>
</body>
</html>
