<table id="example">
    <thead>
          <tr>
            <%- dbname %>
          </tr>
            <!--
              <tr>
                  <th>LOGICID</th>
                  <th>LOGICTYPE</th>
                  <th>LOGICNAME</th>
              </tr>
              -->
    </thead>
    <tbody>
            <%- dbdata %>
    </tbody>

</table>
<div class = "wrap2">
<a href="/create" class="button2">추가</a>
<a href="/delete" class="button2">삭제</a>
<div>
  <%- type %>
