
  <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
          </div>
          <div class="sidebar-brand-text mx-1">지능형 Web <br>바로가기 Menu</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>SCADA 바로가기</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item -CB Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="/cbinfo/1" data-toggle="collapse" data-target="#cbinfo" aria-expanded="true" aria-controls="cbinfo">
            <i class="fas fa-fw fa-cog"></i>
            <span>차단기 동작분석</span>
          </a>
          <div id="cbinfo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">차단기 동작분석 보기</h6>
              <a class="collapse-item" href="/cbinfo/1">차단기 동작분석 목록</a>
              <a class="collapse-item" href="/cbinfo/2">차단기 동작분석 현황</a>
              <a class="collapse-item" href="/frdata">차단기 정보 검색</a>
              <a class="collapse-item" href="/cbevtdata">차단기 이벤트 검색</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - FR -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#frinfo" aria-expanded="true" aria-controls="frinfo">
            <i class="fas fa-fw fa-cog"></i>
            <span>변전소 고장기록 분석</span>
          </a>
          <div id="frinfo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">변전소 고장기록 보기</h6>
              <a class="collapse-item" href="/frinfo">변전소 고장기록 분석 메인</a>
              <a class="collapse-item" href="/frinfodata">에이전트 설치/운영 현황</a>
              <a class="collapse-item" href="/frinfodata">에이전트 신규 등록</a>
              <a class="collapse-item" href="/frinfodata">에이전트 통신이력 검색</a>
              <a class="collapse-item" href="/frinfodata">고장기록 데이터 수신현황</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - RY -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ryinfo" aria-expanded="true" aria-controls="ryinfo">
            <i class="fas fa-fw fa-cog"></i>
            <span>변전소 고장기록 분석</span>
          </a>
          <div id="ryinfo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">보호설비 동작이력 관리</h6>
              <a class="collapse-item" href="/ryinfo">보호설비 동작이력 관리 메인</a>
              <a class="collapse-item" href="/ryinfo/1">보호설비 이벤트 검색</a>
              <a class="collapse-item" href="/ryinfo/2">보호설비 목록</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - ADMIN -->
        <li class="nav-item active">
          <a class="nav-link" href="cbinfo">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>관리자 메뉴</span></a>
        </li>
        <hr class="sidebar-divider">
        <!-- Nav Item -USERPERMISSION -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-cog"></i>
            <span>사용자 관리</span>
          </a>
        </li>
        <!-- Nav Item -BACKUP -->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-cog"></i>
            <span>백업 설정</span>
          </a>
        </li>
        <!-- Nav Item -BOARD-->
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-cog"></i>
            <span>공지사항 목록</span>
          </a>
        </li>
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
          Addons
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Login Screens:</h6>
              <a class="collapse-item" href="login.html">Login</a>
              <a class="collapse-item" href="register.html">Register</a>
              <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
              <div class="collapse-divider"></div>
              <h6 class="collapse-header">Other Pages:</h6>
              <a class="collapse-item" href="404.html">404 Page</a>
              <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
          <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
          <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->
