<div style = "background-color: RGB(77,114,222); color: white; height: 100%; border-bottom : 3px solid white;">
<CENTER> <br><h1><img src = "./../assets/img/gridslogo.png"> 지능형 WEB </h1></CENTER> </div>
