<table id="example">
    <thead>
          <tr>
            <%- dbname %>
          </tr>
            <!--
              <tr>
                  <th>LOGICID</th>
                  <th>LOGICTYPE</th>
                  <th>LOGICNAME</th>
              </tr>
              -->
    </thead>
    <tbody>
            <%- dbdata %>
    </tbody>

</table>
  <button type="button" onclick="location.href='/create'">write</button>

  <%- type %>
