<html>
<head>
<link rel="stylesheet" type="text/css" href="./../assets/css/button.css">
</head>
<body style=" background-color: black ;">

  <div class="top"> </div>
  <div class = "wrap">
  <center>

  <img src = "./../assets/img/mush.png" width="180px;"><br><br><br>


  <a href="/create" class="button">추가</a>
  <a href="/list" class="button">검색</a>
  </div>
  <center>


</body>
  </html>
