<table id="example">
    <thead>
          <tr>
            <%- dbname %>
          </tr>
    </thead>
    <tbody>
            <%- dbdata %>
    </tbody>
</table>
<input type="button" onclick="location='/form'" value="입력">
