div.top {
  height:300px;
  width: 100%;

}
.wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -86px;
	margin-left: -89px;
  display: inline;
	text-align: center;
}


a {
	-webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	-o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
	display: inline;
	margin: 20px auto;
	max-width: 180px;
	text-decoration: none;
	border-radius: 4px;
	padding: 10px 30px;
}

a.button {
	color: white;
	box-shadow: gray 0 0px 0px 2px inset;
}

a.button:hover {
	color: rgba(255, 255, 255, 0.85);
	box-shadow: gray 0 0px 0px 40px inset;
}


a.button2 {
	color: gray;
	box-shadow: gray 0 0px 0px 2px inset;
}

a.button2:hover {
	color: gray;
	box-shadow: gray 0 80px 0px 2px inset;
}

.wrap2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button3 {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.button3:hover {
  background-color:rgba(77,114,222);
  box-shadow: 0px 15px 20px rgba(77,114,222, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
